HT_HOME=./modelsweights
HF_MIRROR=https://hf-mirror.com
device=cuda

# Server bind address on server machine
SERVER_URL=http://0.0.0.0:1111
CUDA_DEVICE_ID=0
WAN_ANIMATE_CKPT_DIR=./modelsweights/Wan2.2-Animate-14B
RESULTS_ROOT=./results
OUTPUTS_ROOT=./outputs
ANIMATE_SAMPLE_SOLVER=dpm++
ANIMATE_DEFAULT_RESOLUTION=480p
